@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Sample Page<a href="https://github.com/OBAIDULLAHKHANKHAIL/">Link Here</a>.</p>
</div>


